TELEGRAM_BOT_TOKEN=seu_token_do_telegram_aqui
TELEGRAM_CHAT_ID=id_do_canal_ou_grupo_aqui

GEMINI_API_KEY=sua_chave_do_google_gemini_aqui

SHOPEE_APP_ID=seu_app_id_da_shopee
SHOPEE_APP_SECRET=seu_app_secret_da_shopee

ML_APP_ID=seu_app_id_do_mercado_livre
ML_CLIENT_SECRET=seu_client_secret_do_mercado_livre
